#footer{
    background-color: #3D8361;
}

#footer a{
    color:#EEF2E6 ;

}

a{
    text-decoration: none;
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(60%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container, 
#carousel .overlay .row{
    margin-top: 22vh;
}

.btn-camilo{
    background-color: #1C6758;
    color: #EEF2E6;
}

.container-fluid{
    width: 80vw;
    background-color: #1C6758;
    text-align: center;
    color: #EEF2E6;
}

#subtitulo{
    background-color: #3D8361;
}

.sugerencia{
    border-top: 1px solid black;
}

.input-group{
    justify-content: center;
}